@font-face {
  font-family: 'inconos';
  src:  url('fonts/inconos.eot?hlx5cb');
  src:  url('fonts/inconos.eot?hlx5cb#iefix') format('embedded-opentype'),
    url('fonts/inconos.ttf?hlx5cb') format('truetype'),
    url('fonts/inconos.woff?hlx5cb') format('woff'),
    url('fonts/inconos.svg?hlx5cb#inconos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inconos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-briefcase:before {
  content: "\e9ae";
}
